@{
    ViewData["Title"] = "Home Page";
}

@* ======== BOOTSTRAP LINK ======== *@
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@* ======== MAIN CSS index.css ======== *@
<link rel="stylesheet" href="~/css/index.css" />

@* ======= BOX ICONS ======= *@

<div >
    @* ======= BOX ICONS ======= *@

    <main class="l-main">
    </main>
</div>

<script src="~/js/index.js"></script>
