@{
    ViewData["Title"] = "Home Page";
}

@* ======== BOOTSTRAP LINK ======== *@
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@* ======== MAIN CSS index.css ======== *@
<link rel="stylesheet" href="~/css/index.css" />

@* ======= BOX ICONS ======= *@

<div >

    <main class="l-main">
    @* ====== HOME ====== *@
    <section class="home" id="home">
        <div class="home__container bd-grid">
            <div class="home__sneaker">
                <div class="home__shape"></div>
                <img src="~/img/imghome.png" alt="" class="home__img">
            </div>

            <div class="home__data">
                <span class="home__new">New in</span>
                <h1 class="home__title">YEEZY BOOST <br>SPLY - 350<br></h1>
                <p class="home__description">Explore the new collections of sneakers</p>
                <a href="#" class="button">Explore Now</a>

            </div>
        </div>
    </section>
    @* ====== HOME ====== *@
    
    @* ====== HOME ====== *@
    
    @* ====== HOME ====== *@
    
    @* ====== HOME ====== *@
    
    @* ====== HOME ====== *@
    
    @* ====== HOME ====== *@
    </main>
</div>

<script src="~/js/index.js"></script>
