@{
    ViewData["Title"] = "Home Page";
}

@* ======== BOOTSTRAP LINK ======== *@
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@* ======== MAIN CSS index.css ======== *@
<link rel="stylesheet" href="~/css/index.css" />

@* ======= BOX ICONS ======= *@

<div >

    <main class="l-main">
    @* ====== HOME ====== *@
    <section class="home" id="home">
        <div class="home__container bd-grid">
            <div class="home__sneaker">
                <div class="home__shape"></div>
                <img src="~/img/imghome.png" alt="" class="home__img">
            </div>

            <div class="home__data">
                <span class="home__new">New in</span>
                <h1 class="home__title">YEEZY BOOST <br>SPLY - 350<br></h1>
                <p class="home__description">Explore the new collections of sneakers</p>
                <a href="#" class="button">Explore Now</a>

            </div>
        </div>
    </section>
    @* ====== FEATURED ====== *@
    <section class="featured section" id="featured">
        <h2 class="section-title">FEATURED</h2>

        <div class="featured__container bd-grid">
            <article class="sneaker">
                <div class="sneaker__sale">Sale</div>
                <img src="~/img/featured1.png" alt="" class="sneaker__img">
                <span class="sneaker__name">Nike Jordan</span>
                <span class="sneaker__price">$143.99</span>
                <a href="" class="button-light">Add to Card <i class='bx bx-right-arrow-alt button-icon'></i></a>
            </article>

            <article class="sneaker">
                <div class="sneaker__sale">Sale</div>
                <img src="~/img/featured2.png" alt="" class="sneaker__img">
                <span class="sneaker__name">Nike Jordan</span>
                <span class="sneaker__price">$143.99</span>
                <a href="" class="button-light">Add to Card <i class='bx bx-right-arrow-alt button-icon'></i></a>
            </article>

            <article class="sneaker">
                <div class="sneaker__sale">Sale</div>
                <img src="~/img/featured3.png" alt="" class="sneaker__img">
                <span class="sneaker__name">Nike Free RN</span>
                <span class="sneaker__price">$143.99</span>
                <a href="#" class="button-light">Add to Card <i class='bx bx-right-arrow-alt button-icon'></i></a>
            </article>

        </div>
    </section>
    @* ====== COLLECTION ====== *@
    <section class="collection section">
        <h2 class="section-title">COLLECTION</h2>
        <div class="collection__container bd-grid">
            <div class="collection_card">
                <div class="collection__data">
                    <h3 class="collection__name">Nike</h3>
                    <p class="collection__description">New collection 2020</p>
                    <a href="#" class="button-light"> Buy now<i class='bx bx-right-arrow-alt button-icon'></i></a>
                </div>
                <img class="collection__img" src="~/img/collection1.png" alt="">
            </div>

            <div class="collection_card">
                <div class="collection__data">
                    <h3 class="collection__name">Addidas</h3>
                    <p class="collection__description">New collection 2020</p>
                    <a href="#" class="button-light"> Buy now<i class='bx bx-right-arrow-alt button-icon'></i></a>
                </div>
                <img class="collection__img" src="~/img/collection2.png" alt="">
            </div>
        </div>
        
    </section>
    
    @* ====== WOMEN SNEAKERS ====== *@
    <section class="women section" id="women">
        <h2 class="section-title">WOMEN SNEAKERS</h2>

        <div class="women__container bd-grid">
            <article class="sneaker">
                <img src="~/img/women1.png" alt="" class="sneaker__img">
                <span class="sneaker__name">Nike Free TR</span>
                <span class="sneaker__price">$129.99</span>
                <a href="" class="button-light">Add to Card <i class='bx bx-right-arrow-alt button-icon'></i></a>
            </article>

            <article class="sneaker">
                <img src="~/img/women2.png" alt="" class="sneaker__img">
                <span class="sneaker__name">Nike Get 5</span>
                <span class="sneaker__price">$129.99</span>
                <a href="" class="button-light">Add to Card <i class='bx bx-right-arrow-alt button-icon'></i></a>
            </article>

            <article class="sneaker">
                <img src="~/img/women3.png" alt="" class="sneaker__img">
                <span class="sneaker__name">Nike GS Pink</span>
                <span class="sneaker__price">$129.99</span>
                <a href="" class="button-light">Add to Card <i class='bx bx-right-arrow-alt button-icon'></i></a>
            </article>
        </div>
    </section>
    
    @* ====== OFFER ====== *@
    <section class="offer section">
        <div class="offer__container bd-grid">
            <div class="offer__data">
                <h3 class="offer__title"> 50% OFF</h3>
                <p class="offer__description">In Addidas Superstart sneakers</p>
                <a href="#" class="button">Shop Now</a>
            </div>

            <img src="~/img/offert.png" alt="" class="offer__img">
        </div>
    </section>
    @* ====== NEW COLLECTION ====== *@
    
    @* ====== NEWSLETTER ====== *@
    </main>
</div>

<script src="~/js/index.js"></script>
