<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    @* ========== CSS ========== *@
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/shop.css" />


    @* ========== BOX ICONS ========== *@
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>UrbanKicks</title>
</head>
<body>
    @* ========== BOX ICONS ========== *@
    <header class="l-header" id="header">
    
    </header>
    @* ========== BOX ICONS ========== *@
    <main class="l-main">
        @* ========== ALL PRODUCTS ========== *@
        <section class="featured section" id="shop">
            <h2 class="section-title">ALL Products</h2>

            <div class="featured__container bd-grid">
                <article class="sneaker">
                    <img src="~/img/featured1.png" alt="" class="sneaker__img">
                    <span class="sneaker__name">Nike Jordan</span>
                    <span class="sneaker__price">$143.99</span>
                    <a href="" class="button-light">Add to Card <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>

                <article class="sneaker">
                    <div class="sneaker__sale">Sale</div>
                    <img src="~/img/featured2.png" alt="" class="sneaker__img">
                    <span class="sneaker__name">Nike Jordan</span>
                    <span class="sneaker__price">$143.99</span>
                    <a href="" class="button-light">Add to Card <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>

                <article class="sneaker">
                    <img src="~/img/featured3.png" alt="" class="sneaker__img">
                    <span class="sneaker__name">Nike Free RN</span>
                    <span class="sneaker__price">$143.99</span>
                    <a href="#" class="button-light">Add to Card <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>

                <article class="sneaker">
                    <img src="~/img/new2.png" alt="" class="sneaker__img">
                    <span class="sneaker__name">Nike Sply</span>
                    <span class="sneaker__price">$79.99</span>
                    <a href="#" class="button-light">Add to Card <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>

                <article class="sneaker">
                    <img src="~/img/new3.png" alt="" class="sneaker__img">
                    <span class="sneaker__name">Nike Sply</span>
                    <span class="sneaker__price">$79.99</span>
                    <a href="#" class="button-light">Add to Card <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>

                <article class="sneaker">
                    <img src="~/img/new4.png" alt="" class="sneaker__img">
                    <span class="sneaker__name">Nike Sply</span>
                    <span class="sneaker__price">$79.99</span>
                    <a href="#" class="button-light">Add to Card <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>

                <article class="sneaker">
                    <img src="~/img/new5.png" alt="" class="sneaker__img">
                    <span class="sneaker__name">Nike Sply</span>
                    <span class="sneaker__price">$79.99</span>
                    <a href="#" class="button-light">Add to Card <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>

                <article class="sneaker">
                    <img src="~/img/women1.png" alt="" class="sneaker__img">
                    <span class="sneaker__name">Nike Women</span>
                    <span class="sneaker__price">$129.99</span>
                    <a href="#" class="button-light">Add to Card <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>

                <article class="sneaker">
                    <img src="~/img/women2.png" alt="" class="sneaker__img">
                    <span class="sneaker__name">Nike Women</span>
                    <span class="sneaker__price">$129.99</span>
                    <a href="#" class="button-light">Add to Card <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>

                <article class="sneaker">
                    <img src="~/img/women3.png" alt="" class="sneaker__img">
                    <span class="sneaker__name">Nike Women</span>
                    <span class="sneaker__price">$129.99</span>
                    <a href="#" class="button-light">Add to Card <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>

                <article class="sneaker">
                    <img src="~/img/women4.png" alt="" class="sneaker__img">
                    <span class="sneaker__name">Nike Women</span>
                    <span class="sneaker__price">$129.99</span>
                    <a href="#" class="button-light">Add to Card <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>

                <div class="sneaker__pages bd-grid">
                    <div>
                        <span class="sneaker__pag">1</span>
                        <span class="sneaker__pag">2</span>
                        <span class="sneaker__pag">3</span>
                        <span class="sneaker__pag">4</span>
                        <span class="sneaker__pag">&#8594;</span>
                    </div>
                </div>
            </div>
        </section>


    </main>
    @* ========== FOOTER ========== *@

    @* ========== MAIN JS ========== *@
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>