/* GENERAL LAYOUT */


/* ========= HOME ========= */
.home{
    background-color: var(--dark-color-lighten);
    overflow: hidden;
}

.home__container{
    height: calc(100vh - var(--header-height));
}

.home__sneaker{
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
}

.home__shape{
    width: 220px;
    height: 220px;
    background-color: var(--dark-color);
    border-radius: 50%;
}

.home__img{
    position: absolute;
    top: 1.5rem;
    max-width: initial;
    width: 275px;
    transform: var(--rotate-img);
}

.home__new{
    display: block;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-2);
}

.home__title{
    font-size: var(--bigger-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-bold);
}

.home__description{
    margin-bottom: var(--mb-6);
}


/* BUTTONS */
.button{
    display: inline-block;
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 1.125rem 2rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
    transition: .3s;
}

.button:hover{
    text-decoration: none;
    color: var(--white-color);
    transform: translateY(-.25rem);
}

.button-light{
    display: inline-flex;
    color: var(--dark-color);
    font-weight: var(--font-bold);
    align-items: center;
}

.button-icon{
    font-size: 1.25rem;
    margin-left: var(--mb-1);
    transition: .3s;
}

.button-light:hover {
    transform: translateX(.25rem);
    text-decoration: none;
    color: var(--dark-color);
    transform: translateY(-.25rem);
}

.button-icon{
    transform: translateX(.25rem);
}

/* ========= FEATURED ========= */
.featured__container{
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.sneaker{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--dark-color-lighten);
    border-radius: .5rem;
    transition: .3s;
}

.sneaker__sale{
    position: absolute;
    left: .5rem;
    top: 2rem;
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: .25rem .5rem;
    border-radius: .25rem;
    font-size: var(--h2-font-size);
    transform: rotate(-90deg);
    letter-spacing: .1rem;
}

.sneaker__img{
    width: 220px;
    margin-top: var(--mb-3);
    margin-bottom: var(--mb-6);
    transform: var(--rotate-img);
    filter: drop-shadow(0 12px 8px rgba(0,0,0,0.2));
}

.sneaker__name, .sneaker__price{
    font-size: var(--h2-font-size);
    letter-spacing: .1rem;
    font-weight: var(--font-bold);
}

.sneaker__name{
    margin-bottom: var(--mb-1);
}

.sneaker__price{
    margin-bottom: var(--mb-4);
}

.sneaker:hover{
    transform: translateY(-.5rem);
}

/* ========= COLLECTION ========= */
.collection__container{
    row-gap: 2rem;
    justify-content: center;
}

.collection_card{
    position: relative;
    display: flex;
    height: 328px;
    background-color: var(--dark-color-lighten);
    padding: 2rem;
    border-radius: .5rem;
    transition: .3s;
}

.collection__data{
    align-self: flex-end;
}

.collection__img{
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
}

.collection__description{
    margin-bottom: var(--mb-2)
}

.collection_card:hover{
    transform: translateY(-.5rem);
}

/* ========= WOMEN SNEAKERS ========= */

.women__container{
    row-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/* ========= OFFER ========= */
.offer{
    margin-top: 5rem;
}

.offer__container{
    grid-template-columns: 55% 45%;
    column-gap: 0;
    background-color: var(--dark-color-lighten);
    border-radius: .5rem;
    justify-content: center;
}

.offer__data{
    padding: 4rem 0 4rem 1.5rem;
}

.offer__title{
    font-size: var(--bigger-font-size);
    margin-bottom: .25rem;
}

.offer__description{
    margin-bottom: var(--mb-3);
}

.offer__img{
    width: 153px;
}
/* ========= NEW COLLECTION ========= */

/* ========= NEWSLETTER ========= */